.container {position: relative; width: 1200px; margin: 0 auto;}

/* 헤더 */
header {border-bottom: 1px solid #dbdbdb; position: sticky; top: 0; z-index: 1000; background-color: #fff;}
.header {display: flex; padding: 30px;}
.header .header_title {}
.header .nav {}
.header .nav ul {transform: translateY(-50%); display: flex;}
.header .nav ul li {padding-right: 20px; padding-left: 20px;}

/* 컨텐츠 */
.contents {position: relative; display: flex; border-left: 1px solid #dbdbdb; border-right: 1px solid #dbdbdb;}
.contents .cont_left {width: 250px;}
.contents .cont_center {min-height: 1300px; width: 700px; margin-right: 250px; flex: 1; border-left: 1px solid #dbdbdb; border-right: 1px solid #dbdbdb;}
.contents .cont_right {position: absolute; top: 0; right: 0; width: 250px; height: 100%;}

/* 푸터 */
footer {border-top: 1px solid #dbdbdb;}
.footer {text-align: center; padding: 30px;}
.footer ul {display: flex; justify-content: center; padding-bottom: 30px;}
.footer ul li a {padding: 0 10px; white-space: nowrap;}
.footer ul li:not(:last-of-type)::after {content: ""; border-right: 1px solid #dbdbdb;}

@media all and (max-width: 1220px){
    .container {width: 100%;}
    .contents {border: none;}
}